* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

main {
	min-height: 100%;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    transition: background .5s linear;
    background: linear-gradient(270deg, #17D1CE -4.9%, #169BC7 79.88%);
    z-index: 1;
}

nav {
	display: flex;
	justify-content: space-between;
    width: 90%;
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 0;
}

nav #logo {
    cursor: pointer;
}

nav ul {
    display: flex;
    font-size: 18px;
    align-items: center;
    list-style: none;
}

nav ul li {
    color: #fff;
    cursor: pointer;
}

nav ul li:nth-child(1) {
    display: none;
}

nav ul li:nth-child(2), nav ul li:nth-child(3) {
    margin-right: 20px;
}

#checkbox-toggle, #menu-toggle {
    display: none;
}

#content {
	display: flex;
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    padding-top: 135px;
}

.content-left {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

.banner {
    background-color: #17D1CE;
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 20px 0 0 20px;
    margin-top: 24px;
}

.banner p {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 30px;
}

.under-banner {
	flex: 1;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px 25px 0;
}

.under-banner p {
    color: #fff;
    font-size: 22px;
    line-height: 35px;
    margin: 10px 0;
    font-weight: 600;
}

.under-banner p.highlight {
    font-weight: 700;
    font-size: 30px;
}

.under-banner p.last-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 130.4%;
}

.content-right {
    background-color: #FFFFFF;
    border-radius: 21px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 40%;
}

.content-right > p {
    font-size: 30px;
    text-align: center;
    color: #4D4D4D;
}

hr {
    border: 1px solid #ACACAC;
    margin: 20px 0 10px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form label {
    font-size: 14px;
    color: #767676;
    align-self: flex-start;
    margin-top: 15px;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    height: 38px;
    background: #E9E9E9;
    border: 1px solid #8F8F8F;
    padding-left: 10px;
}

form input:invalid {
    box-shadow: none;
}

form p {
    font-size: 16px;
    margin: 40px 0 30px;
}

form button {
	width: 200px;
	height: 70px;
	font-family: inherit;
	font-weight: 700;
	background: #44C5EE;
	border-radius: 100px;
	border: 0;
	font-size: 18px;
	line-height: 28px;
	color: #FDFDFD;
	cursor: pointer;
	opacity: 1;
	transition: opacity .5s linear;
}

form button:disabled {
    opacity: .4;
    cursor: not-allowed;
}

#video {
    padding: 50px 0;
}

#thank-you {
    max-width: 831px;
    width: 90%;
    color: #fff;
    text-align: center;
    margin-top: 85px;
}

#thank-you h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: normal;
}

#thank-you p {
    font-size: 24px;
    margin: 20px 0;
}

#thank-you span {
    display: block;
    font-size: 40px;
    font-weight: 700;
}

#thank-you a {
    text-decoration: none;
}

#thank-you p a {
    color: #44C5EE;
}

.download-button {
	width: 264px;
	height: 58px;
	background: #44C5EE;
	border-radius: 100px;
	display: inline-flex;
	justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    color: #FDFDFD;
}

footer {
	background-color: #f0f0f0;
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

footer p {
    font-weight: 600;
    font-size: 16px;
    color: #A0A0A0;
}

#social {
    display: inline-flex;
}

#social a {
    width: 40px;
    height: 40px;
}

#social img {
    height: 100%;
}

#social a:first-child {
    margin-right: 20px;
}

@media screen and (max-width: 992px) and (orientation: landscape) {
    html, body {
        height: unset;
    }

    main {
        padding: 20px 0;
    }
}

@media screen and (max-width: 992px) {
    .banner p {
        font-size: 22px;
    }

    .around-img img {
        width: 40px;
        height: 48px;
    }

    .under-banner p.highlight {
        font-size: 22px;
    }

    .under-banner p {
        font-size: 16px;
        margin: 5px 0;
        line-height: 28px;
    }

    .under-banner p.last-text {
        font-size: 14px;
    }

}

@media screen and (max-width: 767px) {
    main {
        padding: 20px;
    }

    nav {
        padding: 20px 0;
    }

    nav ul {
        position: absolute;
        top: 85px;
        left: 0;
        right: 0;
        background: linear-gradient(270deg, #17D1CE -4.9%, #169BC7 79.88%);
        text-align: center;
        padding: 0 30px;
        display: initial;
    }
   
    nav ul li {
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 0;
        padding: 20px 0;
    }

    nav ul li:nth-child(1) {
        display: block;
    }

    nav ul li:nth-child(1), nav ul li:nth-child(2), nav ul li:nth-child(3) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    nav ul li:nth-child(4) {
        padding-top: 20px;
    }
    
    #menu-toggle {
        display: block;
        order: -1;
        background-color: transparent;
        border: 0;
    }

    #menu-toggle img {
        pointer-events: none;
    }
    
    .menu-closed {
        display: none;
    }

    #content {
        flex-direction: column;
        width: 100%;
    }

    .banner {
        position: relative;
        padding: 20px 10px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .image-wrapper {
        position: absolute;
        top: -60px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }

    .around-img {
        background-color: #C9E265;
        padding: 20px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .around-img img {
        width: 29px;
        height: 35px;
    }

    .banner p {
        font-size: 20px;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .under-banner {
        display: none;
    }

    .content-right {
        padding: 35px;
    }

    .content-right > p {
        font-size: 20px;
    }

    form label {
        font-size: 12px;
    }

    form p {
        font-size: 12px;
        margin: 30px 0 20px;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    footer {
        flex-direction: column;
    }

    #social {
        margin-top: 20px;
    }
}