* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    margin-bottom: 40px;
}

#content {
	display: flex;
    max-width: 1170px;
    width: 90%;
	margin: 0 auto;
}

.content-left {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

.banner {
    background-color: #17D1CE;
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 20px 0 0 20px;
    margin-top: 24px;
}

.banner p {
    width: 60%;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 30px;
}

.under-banner {
	flex: 1;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px 25px 0;
}

.under-banner p {
    color: #fff;
    font-size: 22px;
    line-height: 35px;
    margin: 10px 0;
    font-weight: 600;
}

.under-banner p.highlight {
    font-weight: 700;
    font-size: 30px;
}

.under-banner p.last-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 130.4%;
}

.content-right {
    background-color: #FFFFFF;
    border-radius: 21px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 40%;
}

.content-right p {
    font-size: 30px;
    text-align: center;
    color: #4D4D4D;
}

hr {
    border: 1px solid #ACACAC;
    margin: 20px 0 10px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form label {
    font-size: 14px;
    color: #767676;
    align-self: flex-start;
    margin-top: 15px;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    height: 38px;
    background: #E9E9E9;
    border: 1px solid #8F8F8F;
    padding-left: 10px;
}

form input:invalid {
    box-shadow: none;
}

form button {
	width: 200px;
	height: 70px;
	margin-top: 30px;
	font-family: inherit;
	font-weight: 700;
	background: #44C5EE;
	border-radius: 100px;
	border: 0;
	font-size: 18px;
	line-height: 28px;
	color: #FDFDFD;
	cursor: pointer;
	opacity: 1;
	transition: opacity .5s linear;
}

form button:disabled {
    opacity: .4;
    cursor: not-allowed;
}

@media screen and (max-width: 992px) {
    .banner p {
        font-size: 22px;
    }

    .around-img img {
        width: 40px;
        height: 48px;
    }

    .under-banner p.highlight {
        font-size: 22px;
    }

    .under-banner p {
        font-size: 16px;
        margin: 5px 0;
        line-height: 28px;
    }

    .under-banner p.last-text {
        font-size: 14px;
    }

    .content-right p {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    main {
        padding: 0 20px;
    }

    #logo {
        margin-bottom: 80px;
    }

    #logo img {
        width: 200px;
    }

    #content {
        flex-direction: column;
        width: 100%;
    }

    .banner {
        position: relative;
        padding: 20px 10px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .image-wrapper {
        position: absolute;
        top: -60px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }

    .around-img {
        background-color: #C9E265;
        padding: 20px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .around-img img {
        width: 29px;
        height: 35px;
    }

    .banner p {
        font-size: 20px;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .under-banner {
        display: none;
    }

    .content-right {
        padding: 35px;
    }

    .content-right p {
        font-size: 20px;
    }

    form label {
        font-size: 12px;
    }
}